  {% extends 'base.html' %}

  {% block head %}
<title> Smash task 2.0</title>
   {% endblock %}

   {% block body %}

   <div class="content">
    <h1> Smash task 2.0 </h1>

    <table>
        <tr>
            <th>task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Content</td>
            <td>data</td>
            <td>more</td>
        </tr>
    </table>

    <form action="">
        <input type="text" name="content" id="content">
    </form>
</div>

   {% endblock %}